################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.gitignore
*obj/
*bin/
.vs/
*.sln
*.csproj
TestResults/
config.json
database.yml
*.tmp
