################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Program/bin/Debug/net8.0/Program.pdb
/Program/bin/Debug/net8.0/Program.exe
/Program/bin/Debug/net8.0/Program.dll
/Program/obj/Debug/net8.0/ref/Program.dll
/Program/obj/Debug/net8.0/refint/Program.dll
/Program/obj/Debug/net8.0/apphost.exe
/Program/obj/Debug/net8.0/Program.AssemblyInfo.cs
/Program/obj/Debug/net8.0/Program.AssemblyInfoInputs.cache
/Program/obj/Debug/net8.0/Program.assets.cache
/Program/obj/Debug/net8.0/Program.csproj.AssemblyReference.cache
/Program/obj/Debug/net8.0/Program.csproj.CoreCompileInputs.cache
/Program/obj/Debug/net8.0/Program.csproj.FileListAbsolute.txt
/Program/obj/Debug/net8.0/Program.dll
/Program/obj/Debug/net8.0/Program.GeneratedMSBuildEditorConfig.editorconfig
/Program/obj/Debug/net8.0/Program.genruntimeconfig.cache
/Program/obj/Debug/net8.0/Program.pdb
/Program/obj/Debug/net8.0/Program.sourcelink.json
/Program/obj/Program.csproj.nuget.dgspec.json
/Program/obj/Program.csproj.nuget.g.props
/Program/obj/project.assets.json
/Program/obj/project.nuget.cache
/ProgramTest/obj/Debug/net8.0/ProgramTest.AssemblyInfo.cs
/ProgramTest/obj/Debug/net8.0/ProgramTest.AssemblyInfoInputs.cache
/ProgramTest/obj/Debug/net8.0/ProgramTest.assets.cache
/ProgramTest/obj/Debug/net8.0/ProgramTest.csproj.AssemblyReference.cache
/ProgramTest/obj/Debug/net8.0/ProgramTest.GeneratedMSBuildEditorConfig.editorconfig
/ProgramTest/obj/ProgramTest.csproj.nuget.dgspec.json
/ProgramTest/obj/ProgramTest.csproj.nuget.g.props
/ProgramTest/obj/project.assets.json
/ProgramTest/obj/project.nuget.cache
/ProgramTest/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ProgramTest/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ProgramTest/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ProgramTest/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ProgramTest/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ProgramTest/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/ProgramTest/bin/Debug/net8.0
/ProgramTest/obj/Debug/net8.0
